<div class="lg:hidden fixed top-4 left-4 z-50">
  <button class="text-white bg-indigo-600 px-4 py-2 rounded-md" (click)="isSidebarOpen = !isSidebarOpen">
    Menu
  </button>
</div>
  @if(isSidebarOpen){}
<div class="flex h-screen">
    <div class="hidden lg:flex lg:w-2/12 bg-gray-800 text-white p-4 flex-col">
      @for(sideIndex of sidebarTopics ; track sideIndex) {
        <p class="text-1xl font-bold mb-4 p-2 rounded  hover:bg-gray-700 active:bg-gray-600  cursor-pointer" 
        (click)="displayTopic(sideIndex.titleId)">{{sideIndex.title}}</p>
      }
    </div>
    
     @if (isSidebarOpen) {
         <div class="fixed inset-0 bg-black bg-opacity-50 z-40 lg:hidden"  (click)="isSidebarOpen = false"></div>
     }
    
     @if (isSidebarOpen) {

         <div class="fixed inset-y-0 left-0 w-64 bg-gray-800 text-white p-4 z-50 lg:hidden">
          @for(sideIndex of sidebarTopics ; track sideIndex) {
            <button class="text-1xl font-bold mb-4 p-2 rounded hover:bg-gray-700 active:bg-gray-600 cursor-pointer"
            [ngClass]="{'bg-gray-700': selectedTopic === sideIndex.titleId}"
            (keypress)="onKeyPress($event, sideIndex.titleId)"  (click)="displayTopic(sideIndex.titleId)">{{sideIndex.title}}
            </button>
          }
             <button class="mt-4 text-white bg-red-600 px-4 py-2 rounded-md" (click)="isSidebarOpen = false">
                 Close
                </button>
            </div>
        }
  
    <div class="w-full lg:w-10/12 p-6 bg-white">
      @switch (sidebarTitle) {
        @case ('read') {
          <div class="p-6">
            @for (topic of angularTopics; track $index) {
            <div class="mb-8">
              <h2 class="text-2xl font-bold text-gray-800">{{ topic.title }}</h2>
              <ul class="list-disc ml-6 mt-2">
                @for (subtopic of topic.subtopics; track $index) {
                <li class="mt-1">
                  <a [routerLink]="['/angular-topic', subtopic.id]" class="text-blue-600 hover:underline">
                    {{ subtopic.name }}
                  </a>
                </li>
                }
              </ul>
            </div>
            }
          </div>
        }

        @case ('hear') { 
          <div class="p-6">
            @for (topic of audioContents; track $index) {
            <div class="mb-8">
              <h2 class="text-2xl font-bold text-gray-800">{{ topic.title }}</h2>
              <ul class="list-disc ml-6 mt-2">
                @for (subtopic of topic.subtopics; track $index) {
                <li class="mt-1">
                  <a [routerLink]="['/angular-audio', subtopic.id]" class="text-blue-600 hover:underline">
                    {{ subtopic.name }}
                  </a>
                </li>
                }
              </ul>
            </div>
            }
          </div>
        }

        @case ('watch') {
          
 <div class="flex flex-col md:flex-row">
  
  <div class="w-full md:w-3/4 p-4">
    @if(selectedVideo){
      <youtube-player
      [videoId]="selectedVideo.videoId"
      [height]="isMobile ? 250 : 400"
      [width]="isMobile ? 350 : 600"
      suggestedQuality="hd1080">
    </youtube-player>
    <div >
      <p class="mt-4 text-xl font-bold">{{selectedVideo.title}}</p>
      <p class="mt-2 text-justify">{{selectedVideo.description}}</p>
    </div>
  }
  </div>
  <div class="w-full md:w-1/4 h-auto md:h-screen overflow-y-auto border-t md:border-t-0 md:border-l border-gray-200">
    @for(topicObj of videoObject; track topicObj) {
      <div  (click)="selectVideo(topicObj)" 
      [class.selected]="selectedVideo === topicObj"
      class="cursor-pointer p-2 hover:bg-gray-100">
      @if(isMobile){
        <youtube-player
        [videoId]="selectedVideo.videoId"
        [height]="isMobile ? 250 : 500"
        [width]="isMobile ? 350 : 900"
        suggestedQuality="hd1080">
      </youtube-player>
    } @else {
      <img [src]="'https://img.youtube.com/vi/' + topicObj.videoId + '/maxresdefault.jpg'" alt="">
    }
      <p class="font-semibold">{{topicObj.title}}</p>
    </div>
  }
  </div>
</div>





        }
      }
   

     
    </div>
  </div>
  
