section{
    display: flex;
    height: 90vh;
}
nav{
    width: 10vw;
    background: linear-gradient(to top right, #661202, #0a4e01, #01205a, #013b38);
    padding: 10px;
    color: white;
    border: 1px solid #ddd;
    overflow-y: scroll;
    ul li{
        list-style: none;
        padding: 8px 2px;
        cursor: pointer;
        &:hover{
            color: yellow;
            background-color: #232928;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
aside{
    width: 14vw;
    background: repeating-linear-gradient(45deg, #04213d, #043814 10px, #440424 10px, #033b05 20px);
    padding: 10px;
    border: 1px solid #5e0909;
    overflow-y: scroll;
    height: 90vh;
    ul li{
        list-style: none;
        padding: 8px 2px;
        cursor: pointer;
        color: white;
        &:hover{
            color: yellow;
            background-color: #232928;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}
main{
    width: 76vw;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    height: 90vh;
}