<div class="audio-div"><iframe title="What is Angular and What are its key features"
        src="https://audio.com/embed/audio/1782831519356352?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="What are the differences between AngularJs and Angular"
        src="https://audio.com/embed/audio/1782881065387361?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="What is the concept of routing in angular"
        src="https://audio.com/embed/audio/1786775488194017?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="What is Angular Modules and What are its key features"
        src="https://audio.com/embed/audio/1786584018787797?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="What is the purpose of Angular CLI"
        src="https://audio.com/embed/audio/1786491440719337?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="Directives in Angular"
        src="https://audio.com/embed/audio/1782892021217330?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="Databindings in angular"
        src="https://audio.com/embed/audio/1782891626244808?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>
<div class="audio-div"><iframe title="Angular Component Lifecycle hook"
        src="https://audio.com/embed/audio/1782890934608998?theme=image" class="iframe-section"></iframe><a
        href='https://audio.com/jawaharlal-nehru-elumalai' class="anchor">&#64;jawaharlal-nehru-elumalai</a>
</div>