<header>
    <ul>
        @for(head of gitContent; track head){
            <li [ngClass]="selectedTopic === head.title? 'selected' : ''"  (click)="selectHeader(head.title)">
                <span>
                    {{head.title}} 
                </span>
                <span>
                    <mat-icon aria-hidden="false" class="mat-icon" aria-label="Example home icon" fontIcon="expand_circle_down"></mat-icon>
                </span>
            </li>
        }
    </ul>
    <nav>
        <ul>
            @for(sub of gitSubContent; track sub){
                <li (click)="selectSubHeader(sub)">
                    <span>
                        {{sub}}
                    </span>
                    <span>
                        <mat-icon aria-hidden="false" class="mat-icon" aria-label="Example home icon" fontIcon="expand_circle_down"></mat-icon>
                    </span>
                </li>
            }
        </ul>
    </nav>
</header>
