header{
    ul{
        display: flex;
        flex-direction: row;
        overflow: scroll;
        border: 1px solid grey;
        li{
            margin: 4px 2px;
            cursor: pointer;
            font-weight: 600;
            background-color: #9fcdfa;
            padding: 4px 8px;
            border: 1px solid grey;
            min-width: fit-content;
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}
.selected{
    background-color: #041c35 !important;
    color: #f0f0f0;
}
@media screen and (max-width: 600px) {
    header{
        nav ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: #252503;
            color: #f0f0f0;
            li{
                margin: 4px 2px;
                cursor: pointer;
                font-weight: 600;
                background-color: #041c35;
                padding: 4px 8px;
                border: 1px solid rgb(255, 255, 255);
                min-width: fit-content;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}