<header>
    <ul>
        @for(head of topicExplained; track head){
            <li [ngClass]="selectedTopic === head.topic? 'selected' : ''"  (click)="selectHeader(head.topic)">
                <span>
                    {{head.topic}} 
                </span>
                <span>
                    <mat-icon aria-hidden="false" class="mat-icon" aria-label="Example home icon" fontIcon="expand_circle_down"></mat-icon>
                </span>
            </li>
        }
    </ul>
</header>
<main class="content-container">
    <article [innerHTML]="projectedContent"></article>
</main>
