.example-container {
  height: 100vh;
  margin: 10px;
  border: 1px solid #555;
}

.full-width-button {
  width: 100%;
}

.active {
  background-color: #2196F3 !important; /* Add your desired highlight color */
  color: white !important;
}