<div class="bg-light">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>view_headline</mat-icon> <span class="fs-4">
            <= hide and show menus</span>
    </button>
    <mat-drawer-container class="example-container">
        <mat-drawer #drawer mode="push" opened="true">
            <div>
                <button (click)="redirect('security')" [class.active]="selectedCategory === 'security'"
                    mat-raised-button class="full-width-button">APP Security Best Practices</button>
            </div>
            <div class="dsa">
                <button (click)="redirect('dsa')" [class.active]="selectedCategory === 'dsa'" mat-raised-button
                    class="full-width-button">DSA Articles</button>
            </div>
            <div>
                <button (click)="redirect('fullstack')" [class.active]="selectedCategory === 'fullstact'"
                    mat-raised-button class="full-width-button">Full stack Articles</button>
            </div>
            <div>
                <button (click)="redirect('javacript')" [class.active]="selectedCategory === 'javacript'"
                    mat-raised-button class="full-width-button">Javascript Articles</button>
            </div>
            <div>
                <button (click)="redirect('angular')" [class.active]="selectedCategory === 'angular'" mat-raised-button
                    class="full-width-button">Angular Articles</button>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <div [ngSwitch]="selectedCategory">

                <!-- Dsa starts -->
                <div class="dsa" *ngSwitchCase="'dsa'">
                    <app-dsabasics></app-dsabasics>
                </div>
                <!-- Dsa ends -->
                

                <div class="javacript" *ngSwitchCase="'javacript'">
                    Javascript contents should be developed
                </div>
                <div class="fullstack" *ngSwitchCase="'fullstack'">
                    Full-Stack contents should be developed
                </div>
                <div class="angular" *ngSwitchCase="'angular'">
                    Angular contents should be developed
                </div>
                <div *ngSwitchDefault>
                    <app-security></app-security>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>