<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened><div>
        <button  mat-raised-button>DSA Articles</button>
    </div>
    <div>
        <button  mat-raised-button>Jasmine Articles</button>
    </div>
    <div>
        <button  mat-raised-button>Full stack Articles</button>
    </div>
    <div>
        <button  mat-raised-button>Javascript Articles</button>
    </div>
    <div>
        <button  mat-raised-button>angular Articles</button>
    </div>
</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>
  

<div class="sidebar">
        <div>
            <button>DSA Articles</button>
        </div>
        <div>
            <button>Jasmine Articles</button>
        </div>
        <div>
            <button>Full stack Articles</button>
        </div>
        <div>
            <button>Javascript Articles</button>
        </div>
        <div>
            <button>angular Articles</button>
        </div>
    </div>