
<div class="container">
    <div class="side-nav">
            <div class="content-container">
                <div>
                    <img alt="" src="../../assets/image/java.png" class="java-core">
                </div>
                <div>
                    <div>Java Core</div>
                </div>
            </div>
            <div class="content-container">
                <div>
                    <img alt="" src="../../assets/image/java.png" class="java-dsa">
                </div>
                <div>
                    <div>Java DSA</div>
                </div>
            </div>
    </div>
    <div class="topics-list">
        <ul>
            <li>Java Concept 1</li>
            <li>Java Concept 1</li>
            <li>Java Concept 1</li>
            <li>Java Concept 1</li>
            <li>Java Concept 1</li>
        </ul>

    </div>
    <div class="main">

        Main projected content
    </div>
</div>
