.container{
    display: flex;
    min-height: 94vh;
    .side-nav{
        padding: 8px 0px;
        width: 18vw;
        align-items: stretch;
        background: linear-gradient(to top right, #f3e9e7, #fae7d9, #e9eef7, #91eae4);
        display: flex;
        flex-direction: column;
       gap: 20px;
        .content-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px 0px;
            cursor: pointer;
        }

        .content-container:hover{
            background-color: #91eae4;
        }
    }
}
.java-core, .java-dsa{
    width: 50px;
}

.java-dsa{
    background: linear-gradient(to bottom left, #f3e9e7, #fae7d9, #e9eef7, #91eae4);
    border-radius: 30%;
}

.topics-list{
        overflow-y: scroll;
        max-height: 90vh;
        min-width: 18vw;
        display: flex;
    
    border: 1px solid rgb(211, 208, 208);
    ul{
        width: 100%;
        background-color: #f3fdfd;
    }
    ul li{
        padding: 4px 8px;
        background-color: #e2f8f8;
        cursor: pointer;
        margin-bottom: 2px;
    }
    ul li:hover{
        background-color: #91eae4;
    }

    animation: slideInFromRight 1s ease-out forwards;
}

.java-topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.java-topic:hover{
    background-color: #f0f0f0;
}

.java-topic.selected{
    font-weight: bold;
    background-color: #385548 !important;
    color: #e2f8f8 !important;
}


.java-concept{
    text-align: center;
    font-weight: 600;
    color: rgb(75, 39, 75);
   
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-3%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(3%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

.sub-topic-list{
    @extend .topics-list;
    display: flex;
    flex-direction: column;
    animation: slideInFromLeft 1s ease-out forwards;
}
.sub-topic-title{
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: #72ebe3;
}

.java-introduction {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-y: scroll;
    height: 84vh;
    width: 72vw;
  }
  
  .java-introduction h1, h2 {
    color: #0056b3;
  }
  
  .java-introduction ul, ol {
    margin-left: 20px;
  }
  
  .java-introduction ul li {
    margin-bottom: 10px;
  }
  
  .main{
    padding: 12px 24px;
  }

  .java-article {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-y: scroll;
    height: 84vh;
    width: 72vw;
  }
  
  .java-article h1, .java-article h2 {
    color: #0056b3;
  }
  
  .java-article ul {
    margin-left: 20px;
  }
  
  .java-article ul li {
    margin-bottom: 10px;
  }
  
  .java-article pre {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }

  .example-code{
    background: #2c2929;
    padding: 10px;
    color: white;
    border-radius: 5px;
    position: relative;
  }
  
  .copy-code-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
   font-size: 12px;

  }

  .copy-code-btn:hover {
    background-color: #0056b3;
  }

  .floating-message {
    position: absolute;
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 1;
    animation: fade-out 3s forwards;
    z-index: 1000;
  }
  
  /* Fade-out animation */
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }