.spacer {
  flex: 1 1 auto;
}

.search-field {
  font-size: 14px;
  width: 300px;
  margin-left: 16px;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
  }

  ::ng-deep .mat-mdc-form-field-flex {
    height: 40px;
    align-items: center;
  }

  // Adjust input padding to center text vertically if needed
  input {
    margin-top: -2px;
  }
}

.hide-on-small {
  @media (max-width: 600px) {
    display: none;
  }
}

.font-bold {
  font-weight: bold;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}