<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step >
        <ng-template matStepLabel>Angular Introduction</ng-template>
      {{agIntro.details}} <img [src]="['https://drive.google.com/uc?export=view&id='+agIntro.imageLink]" width="100px" alt="">
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Angular Important Topics </ng-template>
      <div  class="card-container">
        <mat-card  (click)="printTopicId(topic.id)" *ngFor="let topic of topics" class="card" [routerLink]="['agdetail/',topic.id]">
            <mat-card-header>
              <mat-card-subtitle>Topic No: {{topic.id}}</mat-card-subtitle>
              <mat-card-title>{{topic.topic}}</mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: justify;">
              <p>{{topic.description}}</p>
              <div>
                <p>Example, </p>
            <pre><code>
                {{topic.examples[0]}},
                {{topic.examples[1]}}
            </code></pre>
             </div>
            </mat-card-content>
          </mat-card>          
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>