<div class="jasmine-container">
   <header class="main-sidebar-content">

       @for(topic of testing; track topic; let idx = $index){
            <button class="topic-btn" (click)="selectTopic(topic.title)">{{topic.title}}</button>
        }
   </header>
        <aside class="sidebar">
            <ul>
                @for(subtopic of selectedSubTopic; track subtopic){
                    <li (click)="selectTopic(subtopic)"
                    class="sidebar-item">
                    {{ subtopic }}
                </li>
            }
            </ul>
        </aside>

    <main class="content-container">
        <article [innerHTML]="projectedContent"></article>
    </main> 
  </div>
  