<div class="jasmine-container">
   <header class="main-sidebar-content">

       @for(topic of testing; track topic; let idx = $index){
            <button class="topic-btn" (click)="selectTopic(topic.title)">
               <span> {{topic.title}}</span>
                <span class="drop-down-icon"> <mat-icon aria-hidden="false" class="mat-icon"
                    aria-label="Example home icon" fontIcon="expand_circle_down"></mat-icon> </span>
            </button>
        }
   </header>
        <aside class="sidebar">
            <ul>
                @for(subtopic of selectedSubTopic; track subtopic){
                    <li (click)="selectTopic(subtopic)"
                    class="sidebar-item">
                    {{ subtopic }}
                </li>
            }
            </ul>
        </aside>

    <main class="content-container">
        <article [innerHTML]="projectedContent"></article>
    </main> 
  </div>
  