.titleClass{
    font-weight: 900;
    font-size: 16px;
}
.text_content{
    background-color: #f5c77d;
    border: 8px dotted green;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #092b68;
}