th{
    width: 150px;
    font-size: 16px;
    font-weight: 900;
}
.actionBtn{
    display: flex;
}
.email-header{
    width: 20vw;
}
.filter{
    width: 30vw;
    background-color: #f7f1f6;
    margin-bottom: 4px;
}
table {
    width: 100%;
  }