th{
    width: 150px;
    font-size: 16px;
    font-weight: 900;
}
.actionBtn{
    display: flex;
}
.email-header{
    width: 20vw;
}
.filter{
    width: 50vw;
    background-color: lightblue;
}
table {
    width: 100%;
  }