.youtube-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    overflow: hidden; /* Ensures that the corners are properly cut off */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better appearance */
    max-width: 70%;
}

.video-container {
    position: relative;
    top: 16px;
  }

  @media screen and (max-width: 725px) {
        .video-container{
            position: relative;
            top: 50px;
            left: 10px;
        }    
  }

header{
    background-color: antiquewhite;
    height: 24px;
    color: aliceblue;
}
  .horizontal-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: green;
    li {
        margin-right: 20px; /* Space between items */
        padding: 8px;
        cursor: pointer; /* Change cursor to pointer on hover */
        &:hover{
            color: yellow;
            background-color: rgb(6, 22, 65);
        }
      }
  }
  
  