<div class="main-container">
    <div [ngClass]="isArrowActive? 'js-sidebar' : 'js-sidebar-small'">
        <app-jssidebar (passTopic)="receiveTopic($event)" [toggleValue]="isArrowActive"></app-jssidebar>
    </div>
    <div [ngClass]="isArrowActive? 'circle-arrow': 'circle-arrow-small'" (click)="toggleArrow()" [class.active]="isArrowActive">
        <div [ngClass]="isArrowActive ? 'arrow' : 'right-arrow'"></div>
      </div>

    
    <div class="content">
        
        @switch (jstopic) {
            @case ('Javascript Basics') {
                <div class="topics-container">
                    @for(topic of topics; track topic; let idx = $index){
                        <div class="topic" (click)="clickTopic(topic)" >
                            {{idx + 1}}. {{topic.topic}}
                        </div>
                    }
                </div>  
            } 

            @case ('Javascript DSA') {

            }

            @case ('Javascript OOP') {

            }

            @default {
                <div class="topics-container">
                    @for(topic of topics; track topic){
                        <div class="topic" (click)="clickTopic(topic)" >
                            {{topic.id}}. {{topic.topic}}
                        </div>
                    }
                </div>  
            }
        }
      

    </div>
  </div>
  