.main-container {
    display: flex;
    height: 89vh;
    align-items: stretch;
    position: relative;
  }

  .content {
    flex-grow: 1; /* Allow the content area to grow and fill the remaining space */
    padding: 20px;
    background-color: rgb(243, 250, 250); /* Add some padding for better spacing */
  }

  .js-sidebar-small{
    background-color: rgb(248, 236, 236);
    transition: width 0.5s ease;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

.circle-arrow-small{
    @extend .circle-arrow;
    left: 58px;
 }
  
.circle-arrow:hover {
    background-color: #f0f0f0;
  }

  .topics-list{
    padding: 12px;
}

.topics-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    height: 84vh;
    width: 24%;

    .topic{
        display: flex;
        background-color: #f8f9fa;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .sub-topic{
      @extend .topic;
      height: fit-content;
      cursor: pointer;
    }

    .topic:hover{
        background-color: #e9ecef;
    }
    .sub-title{
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

}

.topic-content-space{
  display: flex;
}

.topic-arrow {
  width: 8px;
  height: 8px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(135deg); 
  transition: transform 0.5s ease;
}

.topic div{
  font-size: 12px;
}

.mat-icon:hover, .topic div:hover{
  cursor: pointer;
  color: #054164;
}

.article-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 70vw;
  margin: 0 auto;
  overflow-y: scroll;
  height: 84vh;
}

h1, h2 {
  color: #2c3e50;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0px;
  cursor: pointer;
  background-color: aliceblue;
  width: 70vw;
  overflow-y: scroll;
  max-height: 88vh;
}