/* Global Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  section {
    padding: 2rem;
  }
  
  h1, h2, h3 {
    color: #ffffff;
  }
  
  a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298, #3c6db0, #28486b);
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  /* Experience Section */
  .experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

  }
  
  .experience-card {
    background: linear-gradient(135deg,  #157050, #1e3c72);
    padding: 1rem;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
  }
  
  .companies {
    margin-top: 2rem;
  }
  
  .companies ul {
    list-style-type: none;
    padding: 0;
  }
  
  .companies li {
    margin: 0.5rem 0;
  }
  
  /* Projects Section */
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .project-card {
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }
  
  .project-card a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #1e90ff;
    color: #ffffff;
    border-radius: 4px;
  }
  
  .project-card a:hover {
    background: #0077cc;
  }
  
  /* Contact Section */
  .contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .contact-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #1e90ff;
    color: #ffffff;
    border-radius: 4px;
  }
  
  .contact-link:hover {
    background: #0077cc;
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1rem;
    }
  
    .experience-grid, .project-grid {
      grid-template-columns: 1fr;
    }
  }