<div class="body-container">
    <div class="side-nav">
        <ul>
            @for(titles of sideTopics; track titles; let idx = $index){
                <li class="side-topic" (click)="selectSideTopic(titles)">
                   <div [ngClass]="titles.title === mainTitle ? 'title-big' : 'title-small'"> {{titles.title}} </div>
                </li>
            }
        </ul>
    </div>
    <div class="topic-list">
        <ul>
            @for(topic of topics; track topic; let idx = $index){
                <li class="topic" (click)="selectTopic(topic)">
                   <div>{{idx + 1}}. {{topic}} </div>
                   <div> <mat-icon aria-hidden="false" class="mat-icon" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon></div></li>
            }
        </ul>
    </div>
    <div class="content-container">content-container</div>
    <div class="sub-topic-list">
        <ul>
            <li>springboot</li>
            <li>springboot</li>
            <li>springboot</li>
            <li>springboot</li>
            <li>springboot</li>
            <li>springboot</li>
        </ul>
    </div>
</div>
