<nav>
        @for(topic of cssConcepts; track topic; let idx = $index){
            <div class="nav-topic"  (click)="selectSideTopic(topic)">{{topic}}</div>
        }

        <div class="main-menu-small">
            <ul>
                @for(mainList of cssMainContent; track mainList; let idx = $index){
                    <li class="side-topic" [matMenuTriggerFor]="subMenu">{{mainList}}</li>
                }
            </ul>
        </div>
        <mat-menu #subMenu="matMenu">
            @for(subList of displaySquareContent; track subList; let idx = $index){
                <button mat-menu-item (click)="selectSubTopic(subList)">{{subList.shape}}</button>
            }
          </mat-menu>
</nav>
<main>
    <aside>
        <ul>
            @for(mainList of cssMainContent; track mainList; let idx = $index){
                <li class="side-topic" [matMenuTriggerFor]="menu">{{mainList}}</li>
            }
        </ul>
        <mat-menu #menu="matMenu" xPosition="after">
            @for(subList of displaySquareContent; track subList; let idx = $index){
                <button mat-menu-item (click)="selectSubTopic(subList)">{{subList.shape}}</button>
            }
          </mat-menu>
    </aside>
    <section>  
        <nav class="mini-screen">
            <ul  class="header-topic">
                @for(mainList of cssMainContent; track mainList; let idx = $index){
                    <li [matMenuTriggerFor]="menu">{{mainList}}</li>
                }
            </ul>
            <mat-menu #menu="matMenu" xPosition="after">
                @for(subList of displaySquareContent; track subList; let idx = $index){
                    <button mat-menu-item (click)="selectSubTopic(subList)">{{subList.shape}}</button>
                }
              </mat-menu>
        </nav>
        <article>
            <div class="simple-box">
                <div class="shape">
                    <div class="shape-content" [innerHTML]="projectedCSSShape"></div>
                </div>
                <div class="show-code" [innerHTML]="cssCode">
                </div>
            </div>
        </article>
    </section>
</main>