<nav>
        @for(topic of cssConcepts; track topic; let idx = $index){
            <div class="nav-topic" (click)="selectSideTopic(topic)">{{topic}}</div>
        }
</nav>
<main>
    <aside>
        <ul>
            @for(mainList of cssMainContent; track mainList; let idx = $index){
                <li class="side-topic" [matMenuTriggerFor]="menu">{{mainList}}</li>
            }
        </ul>
        <mat-menu #menu="matMenu" xPosition="after">
            @for(subList of displaySquareContent; track subList; let idx = $index){
                <button mat-menu-item (click)="selectSubTopic(subList)">{{subList.shape}}</button>
            }
          </mat-menu>
    </aside>
    <section>  
        <article >
            
                <div class="simple-box">
                    <div class="shape">
                    <div class="shape-content" [innerHTML]="projectedCSSShape"></div>
                </div>
                <div class="show-code">
                    <pre>
                        <code>
                            {{cssCode}}
                        </code>
                    </pre>
                </div>
            </div>

          
        </article>
    </section>
</main>