main{
    width: 100vw;
    display: flex;
}

section{
    padding: 8px 16px;
    overflow-y: scroll;
    width: 90vw;
}

.main-menu-small{
    display: none;
}
.mini-screen{
    display: none;
}
.side-topic{
    font-size: 1em;
    padding: 4px 8px;
    cursor: pointer;
    font-weight: 600;
    background: radial-gradient(circle, #351c01, #232b13, #121449, #36181f);
    border-radius: 8px;
    width: 10vw;
    color: #fff;
    text-align: center;
    margin-bottom: 4px;
    &:hover{
        color: yellow;
        background-color: #232928;
        border-radius: 8px;
        cursor: pointer;
    }
}

nav{
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    row-gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to top left, #f7d6b6, #edfcca, #c5c8fa, #f1ced7);
    .nav-topic{
        margin: 0px 10px;
        cursor: pointer;
        width: 120px;
        text-align: center;
        font-weight: 600;
        padding: 4px 8px;
        background-color: #f7d6b6;
        border-radius: 8px;
        &:hover{
            color: yellow;
            background-color: #232928;
            border-radius: 8px;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

aside{
    display: flex;
    justify-content: center;
    height: 88vh;
    background: linear-gradient(#f7d6b6, #edfcca, #c5c8fa, #f1ced7);
    width: 12vw;
    overflow-y: scroll;
}

.main-menu-small{
    display: none;
}



.simple-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.header-topic{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    border: 1px solid grey;
    li{
        padding: 4px 8px;
        border: 1px solid grey;
        min-width: fit-content;
    }
}
article{
   height: 72vh;
}
@media screen and (max-width: 600px) {
    .simple-box {
      flex-direction: column;
    }
    main{
        justify-content: center;
    }
    .main-menu-small{
        display: none;
    }
    .mini-screen{
        display: block;
    }
   
    .shape-content{
        padding-top: 12px;
    }
    .mini-screen{
        height: 12px;
        width: 120%;
    }
    aside{
        width: 24vw;
        display: none;
        ul li{
            font-size: 0.8em;
            padding: unset;
            background: unset;
            width: -webkit-fill-available;
            color: darkblue;
        }
    }
    section{
        padding: 8px 4px;
    }
    .side-topic{
        width: 48vw !important;
    }
    article{
        position: relative;
        top: 50px;
    }
  }

@media screen and (min-width: 600px) and (max-width: 768px){
    aside{
        width: 18vw;
       
    }
    section{
        padding: 8px 8px;
    }

    .show-code{
      
    }
}

.show-code{
    margin: 8px 0px;
    max-height: -webkit-fill-available;
    border: 8px solid #3d4212;
    background-color: #1f2022;
    color: #fff;
    padding: 8px;
    max-width: -webkit-fill-available;
    overflow-y: scroll;
}
  