<nav>
        @for(topic of cssConcepts; track topic; let idx = $index){
            <div class="nav-topic" (click)="selectSideTopic(topic)">{{topic}}</div>
        }
</nav>
<main>
    <aside>
        <ul>
            @for(mainList of cssMainContent; track mainList; let idx = $index){
                <li class="side-topic" (click)="selectSubTopic(mainList)">{{mainList}}</li>
            }
        </ul>
    </aside>
    <section>  
        <article >

            <div class="simple-box">
                <div class="shape">
                    <div class="shape-content" [innerHTML]="projectedCSSShape"></div>
                </div>
                <div class="show-code">
                    <pre>
                        <code>
                            {{cssCode}}
                        </code>
                    </pre>
                </div>
            </div>
          
        </article>
    </section>
</main>