<div class="bg-white min-vw-100 min-vh-100 d-flex"  >
  <div class="border h-25" >

    @for (fruit of fruits; track fruit) {
      <ul>
        <li> {{fruit}}</li>
      </ul>
    }
  </div>

</div>
<!-- app.component.html -->
<ng-template #myTemplate>
  <p>This content is dynamically inserted!</p>
</ng-template>
<ng-template #myTemplate2>
  <p>This content is dynamically inserted 2!</p>
</ng-template>

<button (click)="addTemplate()" appHighlight="lightblue">Add Template</button>
<button (click)="addTemplate2()" >Add Template 2</button>
<button (click)="removeTemplate()">Remove Template</button>


<!-- The container where templates will be dynamically inserted -->
<div class="bg-RedOrange h-6 w-2/5" #container></div>

