<div class="contanier">
    <div class="row">
        <div class="left-bar col-2 d-none d-sm-block">
            <div class="left-cont mt-5">
                <img class="image-class mb-3" src="../../assets/image/nehru.png" alt="">
                <div class="navigator" *ngFor="let titles of tiles">
                    <button mat-button class="custom-button" (click)="profileTitle(titles.id)"> {{titles.text}}</button>
                </div>
            </div>
        </div>  
    
    <div class="col-12 col-sm-10 main-content">
    <div class="detail-section">
        <div class="header-section">
            <img class="image-class mb-3" src="../../assets/image/nehru.png" alt="">
            <div class="navigator" *ngFor="let titles of tiles">
                <button mat-button class="custom-button"> {{titles.text}}</button>
            </div>
        </div>
        <div [ngSwitch]="condition">
            <div *ngSwitchCase="1">
                <div class="display mb-5"><strong> Jawaharlal Nehru Elumalai</strong></div>
            <div class="address">Front End Developer, Aspiring Full Stack Developer </div>
                <div class="intro3 intro-text"><p >With several years of expertise in the software industry, I am your trusted Angular developer. My skill set includes
                    HTML, CSS, JavaScript, TypeScript, and proficient use of version control systems like Git, GitHub, and Bitbucket. What's
                    more, I bring a strong backend knowledge with languages such as C#, PHP, and databases like MySQL and MS SQL.
                    
                    As a dedicated full-stack developer, my passion lies in crafting captivating and user-friendly web applications. Join me
                    on a journey to create engaging digital experiences!"</p>
                </div>
            </div>
            <div *ngSwitchCase="2">
                <div class="display mb-5"><strong> Contact</strong></div>
                <div class="social-media-links">
                    <button mat-button color="warn" *ngFor="let media of socialMedia">
                        <a [href]="media.mediaLink" class="text-decoration-none" [attr.target]="'_blank'" [matTooltip]="media.mediaLink"
                            class="link-no-underline">
                            <img [src]="'https://drive.google.com/uc?export=view&id=' + media.imageLink" width="40px" alt="">
                            <span class="medianame">{{media.mediaName}}</span>
                        </a>
                    </button>
                </div>
            </div>

            <div *ngSwitchCase="3" class="experience-section">
                <div class="display display-exp"><strong> Experience</strong></div>
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Associate UI Developer </div>
                    <div class="text-muted h3"> Aug 2022 - Till now</div>
                </div>
                <div>Wolken Software Pvt Ltd</div>
                <div class="intro3">
                    <p>Here I worked on Task Management projects where I skillfully fixed bugs and introduced many features
                        enhancements. For examples, worked on ,
                        RoleBased - Read and write access on ITSM Modules,
                        Introducing Email notification from SMS, slack and email to clients
                        Checkbox and related functionalities on various modules of the ITSM project.
                        Implemented server side pagination on role configuration tables ...etc
            
                    </p>
                </div>
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Angular UI Developer - Intern </div>
                    <div class="text-muted h3"> May 2022 - July 2022</div>
                </div>
                <div>Ninjacart Pvt Ltd</div>
                <div class="intro3">
                    <p>Ninjacart is an e-commerce-focused product based software company where I completed an internship, actively
                        contributing to the enhancement of their proprietary web application by implementing diverse validation
                        functionalities for form fields
                    </p>
                </div>
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Junior Web Developer </div>
                    <div class="text-muted h3"> Sep 2021 - May 2022</div>
                </div>
                <div>Self-employed</div>
                <div class="intro3">
                    <p>As the beginner in web development, I joined to assist a Web developer to enhance UI pages with my skills like CSS3,
                        Bootstrap 5, HTML5 and JavaScript . I worked on few webpages such as Gym Websites , Yoga Websites, Fashion Website,
                        Food Websites
                    </p>
                </div>
            </div>
            <div *ngSwitchCase="4">
                <div class="display display-exp mb-5"><strong>Technical Skills</strong></div>
                <div class="address">Front End </div>
                <ul>
                    <li>Angular, Angular Material UI, CDK</li>
                    <li>Typescript, JavaScript</li>
                    <li>HTML5, CSS3, SCSS</li>
                    <li>RxJS, Flex Layout, Ag Grid</li>
                </ul>
                <div class="address">Back End </div>
                <ul>
                    <li>.NET framework, ASP.NET </li>
                    <li>C#, Ms SQL with SQL commands,</li>
                    <li>Apps Script, Google Sheet Database</li>
                    <li>API testing with Postman and swagger</li>
                </ul>
                <div class="address">Deployment Skills </div>
                <ul>
                    <li>Git Commands with Bitbucket and Github </li>
                    <li>Debugging Skill and Error Handling </li>
                    <li>Deploying to Netlify, GitHub Pages</li>
                </ul>
                <div class="address">Work Flow </div>
                <ul>
                    <li>Mobile-First, Responsive Design </li>
                    <li>Cross Browser Testing & Debugging</li>
                    <li>Cross Functional Teams</li>
                    <li>Agile Development</li>
                </ul>


            </div>
            <div *ngSwitchCase="5">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of certificatesImages">
                        <div class="carousel-wrapper">
                            <img class="carousel-image" [src]="image.name" [alt]="image.caption">
                    
                            <!-- <div class="caption">{{image.caption}}</div> -->
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div *ngSwitchCase="6">
                <mat-tab-group>
                    <mat-tab label="JSON API Projects"> 
                        <div class="container mt-5">
                            <ul>
                                <li>Github Repository : <a class="text-decoration-none" href="https://github.com/jawaharlalnehru1988/bookapi" target="_blank">JSON APIs</a> </li>
                                <li>Output on Githubpage : <a class="text-decoration-none" href="https://jawaharlalnehru1988.github.io/bookapi/country.json" target="_blank">Country Code and Flag</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>To achieve dynamic content rendering in my Angular applications, I harnessed the power of a JSON mock server,
                                enabling the seamless generation of RESTful APIs. This not only simplifies CRUD operations but also enhances the
                                flexibility of my applications. As the next step, I seamlessly deployed these JSON files to GitHub Pages, providing
                                online accessibility to my applications. This approach empowers me to effortlessly integrate and utilize the JSON
                                API across various platforms and scenarios.
                            </p>
                            <h2>Tools I have used:</h2>JSON Server, NPM packages, Git commands, github, Github page
                        </div>
                    </mat-tab>
                    <mat-tab label="ISKCON Kanyakumari"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository : <a href="https://github.com/jawaharlalnehru1988/ram" class="text-decoration-none" target="_blank">Ram</a></li>
                                <li>Output on Netlify : <a href="https://dazzling-cupcake-f2ff87.netlify.app"  class="text-decoration-none" target="_blank">Hare Krishna Tamil APP</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                Impressed by my web development proficiency, an administrative manager at ISKCON Kanyakumari commissioned me to create a
                                website for their esteemed organization. I successfully delivered this project using Angular, applying my strong logical
                                thinking and innovative problem-solving skills. Notably, I implemented a captivating counter app on one of the pages,
                                enhancing the overall functionality and user experience.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> Angular, TypeScript, HTML, CSS, GIT, Angular CLI, GitHub, Netlify
                        </div>    
                    </mat-tab>
                    <mat-tab label="Old Portfolio"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository : <a href="https://github.com/jawaharlalnehru1988/my-portfolio" class="text-decoration-none" target="_blank">My First Portfolio Repo</a></li>
                                <li>Output on Github page : <a href="https://jawaharlalnehru1988.github.io/my-portfolio/" class="text-decoration-none" target="_blank">Portfolio Output</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                This project represents my maiden voyage into the world of web development, marking my debut in the field. As a
                                newcomer, I embarked on my journey by acquiring proficiency in HTML and CSS. Leveraging these skills, I crafted my very
                                first portfolio, which stands as a testament to my early achievements in web development.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> Angular, TypeScript, JavaScript, RxJS, HTML, SCSS, GIT, Angular CLI, GitHub, Netlify
                        </div>     
                    </mat-tab>
                    <mat-tab label="Gym Website"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository: <a href="https://github.com/jawaharlalnehru1988/gymwebpage" class="text-decoration-none" target="_blank">Gym Website Repo</a></li>
                                <li>Output on Github page : <a href="https://jawaharlalnehru1988.github.io/gymwebpage/" class="text-decoration-none" target="_blank">Gym Website Output</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                I completed this project while making gradual progress in my web development journey. It's an advertising website
                                focused on promoting gyms.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> HTML, CSS, Bootstrap 5, GIT, GitHub, github Page
                        </div>     
                    </mat-tab>
                    <mat-tab label="Food Website"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository: <a href="https://github.com/jawaharlalnehru1988/food-website" class="text-decoration-none" target="_blank">Food Website Repo</a></li>
                                <li>Output on Github page : <a href="https://jawaharlalnehru1988.github.io/food-website/" class="text-decoration-none" target="_blank">Food Website Output</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                I completed this project while making gradual progress in my web development journey. It's an advertising website
                                focused on promoting gyms.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> HTML, CSS, Bootstrap 5, GIT, GitHub, github Page
                        </div>     
                    </mat-tab>
                  </mat-tab-group>
            </div>
            <div *ngSwitchCase="7">
                <div class="address mb-3 fs-2">Education</div>
                <ul>
                    <li class="fs-3">MSc Physics  - 79% - Pachaiyappa’s College For Men, Kanchipuram, TN</li>
                    <li class="fs-3">B. Sc Physics  - 78.4 % - Pachaiyappa’s College For Men, Kanchipuram, TN</li>
                    <li class="fs-3">12th - 76.2% - C.S.M.Hr.sec.school, Kanchipuram, TN</li>
                    <li class="fs-3">SSLC - 78% - C.S.M.Hr.sec.school, Kanchipuram, TN</li>
                </ul>
            </div>
            <div *ngSwitchCase="8">
                <ul>
                    <li>
                        <h2>Download My Resume in PDF format  </h2>
                        <img src="../../assets/image/pdflogo.png" width="28px" class="me-4" alt="image">
                        <button mat-raised-button  color="primary" (click)="downloadPdf()">Download PDF</button>
                    </li>
                    <li class="mt-5">
                        <h2>Download My Resume in word document format </h2>
                        <img src="../../assets/image/doclogo.png" width="38px" class="me-3" alt="image"> 
                        <button mat-raised-button color="primary" (click)="downloadDoc()">Download Docx</button>
                    </li>
                </ul>

            </div>
            <div *ngSwitchDefault>
                
                <div class="display mb-5"><strong> Jawaharlal Nehru Elumalai</strong></div>
            <div class="address">Front End Developer, Aspiring Full Stack Developer </div>
                <div class="intro3 intro-text"><p >With several years of expertise in the software industry, I am your trusted Angular developer. My skill set includes
                    HTML, CSS, JavaScript, TypeScript, and proficient use of version control systems like Git, GitHub, and Bitbucket. What's
                    more, I bring a strong backend knowledge with languages such as C#, PHP, and databases like MySQL and MS SQL.
                    
                    As a dedicated full-stack developer, my passion lies in crafting captivating and user-friendly web applications. Join me
                    on a journey to create engaging digital experiences!"</p>
                </div>
                </div>
          </div>
    </div>    
</div>
</div>
</div>
  