<div class="contanier">
    <div class="row">
        <div class="left-bar col-2 d-none d-sm-block">
            <div class="left-cont mt-5">
                <img class="image-class mb-3" src="../../assets/image/nehru.png" alt="">
                <div class="navigator" *ngFor="let titles of tiles">
                    <button mat-button class="custom-button" (click)="profileTitle(titles.id)"> {{titles.text}}</button>
                </div>
            </div>
        </div>  
    
    <div class="col-12 col-sm-10 main-content ">
    <div class="detail-section moving-gradient">
        <div class="header-section">
            <img class="image-class mb-3" src="../../assets/image/nehru.png" alt="">
            <div class="navigator" *ngFor="let titles of tiles">
                <button mat-button class="custom-button" (click)="profileTitle(titles.id)"> {{titles.text}}</button>
            </div>
        </div>
        <div [ngSwitch]="condition" class="experience">
            <div  *ngSwitchCase="1">
                <ng-container *ngTemplateOutlet="profileTemplate"></ng-container>
            </div>
            <div *ngSwitchCase="2">
                <div class="display mb-5"><strong> Contact</strong></div>
                <div class="social-media-links">
                    <button mat-button color="warn" *ngFor="let media of socialMedia">
                        <a [href]="media.mediaLink" class="text-decoration-none" [attr.target]="'_blank'" [matTooltip]="media.mediaLink"
                            class="link-no-underline">
                            <img [src]="'https://drive.google.com/uc?export=view&id=' + media.imageLink" width="40px" alt="">
                            <span class="medianame">{{media.mediaName}}</span>
                        </a>
                    </button>
                </div>
            </div>

            <div *ngSwitchCase="3" >
                <div class="display display-exp"><strong> Experience</strong></div>
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Development Engineer </div>
                    <div class="text-light h3"> Dec 2023 - Till now</div>
                </div>
                <div class="text-light">Reserve Bank Information Technology Pvt Ltd</div>
                <div class="intro3">
                    <p>
                        Currently, I am working at Reserve Bank Information Technology Pvt Ltd, where as a Frontend Developer, I play a crucial role in developing and managing a project called the Master Data Management Service (MDMS) suite. Additionally, I use backend technologies such as Spring Boot and Oracle Database.
                    </p>
                </div>
                
              
            </div>

            <div *ngSwitchCase="4" class="text-light">
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Associate UI Developer </div>
                    <div class="h3"> Aug 2022 - Till now</div>
                </div>
                <div class="text-light">Wolken Software Pvt Ltd</div>
                <div class="intro3">
                    <p>At Wolken Software Pvt Ltd, I played a crucial role in developing a cloud-based IT Service Management (ITSM) suite. This intelligent platform empowered clients to efficiently transform, digitalize, and automate processes. I contributed to bug fixes, feature enhancements, and skillfully utilized the Angular Framework for API integrations.
                    </p>
                </div>
            </div>
            <div *ngSwitchCase="5" class="text-light">
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Angular UI Developer - Intern </div>
                    <div class="text-light h3"> May 2022 - July 2022</div>
                </div>
                <div class="text-light">Ninjacart Pvt Ltd</div>
                <div class="intro3">
                    <p>
                        During my internship as a UI Developer at Ninjacart, a product-focused software company specializing in B2B e-commerce for fresh produce, I played a role in enhancing their website. My responsibilities included troubleshooting and improving existing features in the application Angular Framework, libraries, and API integrations.    
                    </p>
                </div>
            </div>
            <div *ngSwitchCase="6" class="text-light">
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Freelancing Web Developer, Salem, Tamil Nadu  </div>
                    <div class="text-light h3"> Sep 2021 - May 2022</div>
                </div>
                <div class="text-light">Junior Web developer under Mr.G.Prasanth, Angular UI Developer, TCS. Ph: +91 9500249898</div>
                <div class="intro3">
                    <p>
                        As a beginner in web development during covid-19 pandemic, I joined as an assistant to a web developer with a focus on improving UI pages. During my tenure, I successfully created several webpages, including those for Gym website, Yoga ad Website, Fashion, Food…etc. in collaboration with him. This experience honed my skills in HTML5, CSS3, Bootstrap 5, JavaScript ES6 and Angular 8.
                    </p>
                </div>
            </div>
            <div *ngSwitchCase="7" class="text-light">

                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Domain Skill Trainer, Kanchipuram, Tamil Nadu  </div>
                    <div class="text-light h3"> May 2018 - Aug 2021</div>
                </div>
                <div class="text-light"> Computer Hardware and Networking</div>
                <div class="intro3">
                    <p>
                        I worked as a trainer at RSETI (Rural Self Employment Training Institute), where I taught students how to troubleshoot problems with laptops, PCs, and networking. Some of my students have since started their own businesses in these fields, while others have secured jobs in hardware and networking.                    </p>
                </div>

            </div>
            <div *ngSwitchCase="8" class="text-light">

                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">System Support Engineer, Kanchipuram, Tamil Nadu</div>
                    <div class="text-light h3">May 2014 - Apr 2018</div>
                </div>
                <div class="text-light"> Computer Hardware and Networking</div>
                <div class="intro3">
                    <p>
                        I started my own shop where I troubleshoot issues with laptops, PCs, mobile phones, printers, and more. The business had been running successfully till 2018 </p>
                </div>

            </div>
            <div *ngSwitchCase="9" class="text-light">
                
                <div class="mt-5 d-flex justify-content-between align-items-center">
                    <div class="address">Photoshop Designer, Kanchipuram, Tamil Nadu</div>
                    <div class="text-light h3">Aug 2011 - Apr 2014</div>
                </div>
                <div class="text-light"> Designing with Adobe Photoshop 7.0, Photoshop CS3</div>
                <div class="intro3">
                    <p>
                        My professional journey began as a Photoshop designer, where I created banners, pamphlets, notice boards, invitations, and more.                    </p>
                </div>

            </div>
            <div *ngSwitchCase="10" class="text-light">
                <div class="display display-exp mb-5"><strong>Technical Skills</strong></div>
                <div *ngFor="let category of technicalSkills">
                    <div class="address">{{ category.category }}</div>
                    <ul>
                        <li *ngFor="let skill of category.skills">{{ skill }}</li>
                    </ul>
                </div>
            </div>
            <div *ngSwitchCase="11">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of certificatesImages">
                        <div class="carousel-wrapper">
                            <img class="carousel-image" [src]="image.name" [alt]="image.caption">
                    
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div *ngSwitchCase="12"  class="text-light">
                <div class="m-5">
                    <ul>
                        <li>Github Repository : <a class="text-decoration-none" href="https://github.com/jawaharlalnehru1988/bookapi" target="_blank">JSON APIs</a> </li>
                        <li>Output on Githubpage : <a class="text-decoration-none" href="https://jawaharlalnehru1988.github.io/bookapi/country.json" target="_blank">Country Code and Flag</a></li>
                    </ul>
                    <h2>Project Description :</h2>
                    <p>To achieve dynamic content rendering in my Angular applications, I harnessed the power of a JSON mock server,
                        enabling the seamless generation of RESTful APIs. This not only simplifies CRUD operations but also enhances the
                        flexibility of my applications. As the next step, I seamlessly deployed these JSON files to GitHub Pages, providing
                        online accessibility to my applications. This approach empowers me to effortlessly integrate and utilize the JSON
                        API across various platforms and scenarios.
                    </p>
                    <h2>Tools I have used:</h2>JSON Server, NPM packages, Git commands, github, Github page
                </div>
                <!-- <mat-tab-group>
                    <mat-tab label="JSON API Projects"> 
                       
                    </mat-tab>
                    <mat-tab label="ISKCON Kanyakumari"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository : <a href="https://github.com/jawaharlalnehru1988/ram" class="text-decoration-none" target="_blank">Ram</a></li>
                                <li>Output on Netlify : <a href="https://dazzling-cupcake-f2ff87.netlify.app"  class="text-decoration-none" target="_blank">Hare Krishna Tamil APP</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                Impressed by my web development proficiency, an administrative manager at ISKCON Kanyakumari commissioned me to create a
                                website for their esteemed organization. I successfully delivered this project using Angular, applying my strong logical
                                thinking and innovative problem-solving skills. Notably, I implemented a captivating counter app on one of the pages,
                                enhancing the overall functionality and user experience.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> Angular, TypeScript, HTML, CSS, GIT, Angular CLI, GitHub, Netlify
                        </div>    
                    </mat-tab>
                    
                    <mat-tab label="Gym Website"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository: <a href="https://github.com/jawaharlalnehru1988/gymwebpage" class="text-decoration-none" target="_blank">Gym Website Repo</a></li>
                                <li>Output on Github page : <a href="https://jawaharlalnehru1988.github.io/gymwebpage/" class="text-decoration-none" target="_blank">Gym Website Output</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                I completed this project while making gradual progress in my web development journey. It's an advertising website
                                focused on promoting gyms.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> HTML, CSS, Bootstrap 5, GIT, GitHub, github Page
                        </div>     
                    </mat-tab>
                    <mat-tab label="Food Website"> 
                        <div class="mt-5">
                            <ul>
                                <li>Github Repository: <a href="https://github.com/jawaharlalnehru1988/food-website" class="text-decoration-none" target="_blank">Food Website Repo</a></li>
                                <li>Output on Github page : <a href="https://jawaharlalnehru1988.github.io/food-website/" class="text-decoration-none" target="_blank">Food Website Output</a></li>
                            </ul>
                            <h2>Project Description :</h2>
                            <p>
                                I completed this project while making gradual progress in my web development journey. It's an advertising website
                                focused on promoting gyms.
                            </p>
                            <h2>Programming Languages and Tools I have used:</h2> HTML, CSS, Bootstrap 5, GIT, GitHub, github Page
                        </div>     
                    </mat-tab>
                  </mat-tab-group> -->
            </div>
            <div *ngSwitchCase="13">
                <div class="address mb-3 fs-2">Education</div>
                <ul class="Education text-light mb-5">
                    <li class="fs-3">MSc Physics  - 79% - Pachaiyappa’s College For Men, Kanchipuram, TN</li>
                    <li class="fs-3">B. Sc Physics  - 78.4 % - Pachaiyappa’s College For Men, Kanchipuram, TN</li>
                    <li class="fs-3">12th - 82.6% - C.S.M.Hr.sec.school, Kanchipuram, TN</li>
                    <li class="fs-3">SSLC - 77.8% - C.S.M.Hr.sec.school, Kanchipuram, TN</li>
                </ul>
            </div>
            <div *ngSwitchCase="14">
                <ul>
                    <li class="text-light" >
                        <h2>Download My Resume </h2>
                        <img src="../../assets/image/pdflogo.png" width="28px" class="me-4" alt="image">
                        <button mat-raised-button  color="primary" (click)="downloadPdf()">Download PDF</button>
                    </li>
                </ul>

            </div>
            <div *ngSwitchDefault>
                <ng-container *ngTemplateOutlet="profileTemplate"></ng-container>
            </div>
          </div>
    </div>    
</div>
</div>
</div>

<ng-template #profileTemplate>
    <div class="display mb-5"><strong>Jawaharlal Nehru Elumalai</strong></div>
    <div class="address">Angular Java Full Stack Developer</div>
    <div class="intro3 intro-text">
      <ul class="disc-list">
        <li>With a background spanning three years in the software field, I offer dependable expertise in Angular
          development.
        </li>
        <li>My capabilities extend across HTML, CSS, JavaScript, TypeScript, and adept management of version control
          systems such as Git.
        </li>
        <li>Additionally, I possess backend proficiency in languages like Java, Spring Boot, and familiarity with
          databases like MySQL and Oracle DB.
        </li>
      </ul>
    </div>
  </ng-template>
  