
<div class="d-flex justify-content-between">

    <h1 mat-dialog-title> Add Your Code down Here</h1>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content class="mat-dialog-content">
<form [formGroup]="contentForm">
    <p>

        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Title" formControlName="title">
        </mat-form-field>
    </p>
    <p>

        <mat-form-field>
            <mat-label>Title Id</mat-label>
            <input matInput placeholder="Title Id" type="text" formControlName="id">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea matInput formControlName="description" placeholder="Description"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Code Area</mat-label>
            <textarea matInput formControlName="exampleCode" placeholder="code"></textarea>
        </mat-form-field>
    </p>
</form>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">cancel</button>
    <button mat-raised-button color="primary" (click)="submitValue(editData)">{{actionBtn}}</button>
</div>
</div>

