.example-card {
    max-width: 400px;
    box-shadow: 0px 0px 12px 0px gray;
    background-color: #f5f5f5;
  }
  
  .example-header-image {
    background-image: url('https://drive.google.com/uc?export=view&id=1eTCpKsW1U9IHH2yoUwCI0eXLUw_GvePS');
    background-size: cover;
  }
    .mar-card-image {
      width: 86%;
    }
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .banner-photo{
    width: 26vw;
    position: relative;
    right: 2px;
  }
  .intro2, .intro1, .intro3{
    font-size: 32px;
    font-weight: 500;
    color: white;
    // margin-bottom: 26px;
  }
  .intro3{
    line-height: 24px;
  }
  .intro1, .intro3{
    font-size: 16px;
    padding-right: 12px;
    font-weight: 200;
  }
  .social-media-links{
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
  }
  .intro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .banner-container{
    background-color: darkslateblue;
    display: flex;
    flex-direction: row;
  }
  .parentCard {
    flex: 1 1 calc(33.33% - 10px);
  margin-bottom: 20px;
  }
  @media screen and (max-width: 920px) {
    .parentCard {
      flex-basis: calc(50% - 10px);
    }
  }
  @media screen and (max-width: 520px) {
    .parentCard {
      flex-basis: 100%;
    }
    .intro2{
      font-size:15px;
    }
    .social-media-links{
      gap: 0px !important;
      display: block !important;
    }
    ::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
      padding: 0% !important;
    }
    .intro3{
      font-size: 12px;
      text-align: justify;
    }
    .stars-container img.banner-photo {
      border-radius: 50%;
      width: 100%;
      height: 50%;
    }
    .stars-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .medianame{
      font-size: 5px;
    }
    .wrapper .item{
      min-width: 90vw !important;
    }
  }
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .image {
    height: 200px; /* set the desired height */
    width: auto; /* automatically adjust the width */
    object-fit: cover; /* crop the image if necessary */
  }
  mat-card-content{
    max-height: 200px; /* set the maximum height of the content */
    overflow-y: auto;
  }
  mat-card-actions{
    background-color: burlywood;
}
.link-no-underline {
  text-decoration: none;
  color: white; /* Replace with your desired color */
}
.wrapper{
  height: 40vh;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
}
.wrapper .item{
  height: 34vh;
  min-width: 25vw;
text-align:center;
background-color: #ddd;
margin: 8px 4px;
border-radius: 4px;
}
.wrapper::-webkit-scrollbar{
  width: 0;
}
.custom-mat-card {
  width: 100%; /* Match the width of the .item class */
  height: 100%; /* Match the height of the .item class */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-mat-card .mar-card-image {
  text-align: center; /* Center-align the card title */
  min-height: 90%;
  min-width: 100%;
}