<main>
  <section class="main-hero-section">
    <aside class="hero-section">
      <h1>Welcome to Ask Nehru, Your Web Development Companion </h1>
      <span class="circle-border"></span>
    </aside>
    <aside class="stars-container">
      <img class="banner-photo" src="../../assets/image/nehruphoto.png" alt="Your photo">
      <hr>
    </aside>
  </section>

  <section class="main-container">
    <div class="text">
      Let's explore the world of web development together!
    </div>
  </section>

  <section class="blog-section">
    @if (loading) {
    <div class="flex justify-center items-center h-64 w-full col-span-full">
      <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
    </div>
    } @else {
    @for( blog of blogArticleData; track blog) {
    <mat-card class="mat-card-container" [routerLink]="blog.routerLink">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ blog.PName }}</mat-card-title>
          <mat-card-subtitle>click to explore Roadmap</mat-card-subtitle>
          <img mat-card-sm-image [alt]="''" [src]="blog.PImage" class="blog-image">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ blog.intro }}
      </mat-card-content>
    </mat-card>
    }
    }
  </section>



  <section>
    <footer class="footer">
      <div class="container">
      </div>
    </footer>

  </section>
</main>