.mainTopic{
    color: rgb(19, 11, 54);
  }
  .subtopics{
    color: #2e2102 !important;
  }
 
  .spotify-item {
    box-sizing: border-box;
    padding: 10px;
    width: 100 vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  iframe{
    padding: 6px;
    width : 33%;
  }
  @media (max-width: 768px) {
    .spotify-item {
      width: 100%;
    }
    iframe{
      width : 100%;
    }
  }
  