<div class="forms">

    <mat-card>
        <mat-card-header>
    <p class="font-size-header">{{updateRoute? "Update User Data" : "Register New User"}}</p>
</mat-card-header>
<mat-card-content>
    
    <form class="example-form" [formGroup]="signUpForm" >
        <div *ngIf="updateRoute; else nonAdminContent">

            <div class="username">
                <mat-form-field appearance="outline">
                    <mat-label>User name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
            </div>
            <div>Gender
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="notTosay">Prefer Not to Say</mat-radio-button>
                  </mat-radio-group>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Id</mat-label>
                    <input matInput type="text" formControlName="id">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <input matInput type="text" formControlName="role">
                </mat-form-field>
            </div>
            
            <div> is Active
                <mat-radio-group aria-label="Select an option" formControlName="isactive">
                    <mat-radio-button value="yes">Yes</mat-radio-button> 
                    <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
            </div>
            </div>
            
        <ng-template #nonAdminContent>

        <div class="username">
            <mat-form-field appearance="outline">
                <mat-label>User name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
        <div class="countryCode">
            <mat-form-field id="countryCode" appearance="outline">
                <input matInput type="tel" #phone formControlName="countryCode" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="mobile" />
            </mat-form-field>
        </div>
        <div>Gender
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="notTosay">Prefer Not to Say</mat-radio-button>
              </mat-radio-group>
        </div>
        </ng-template>
 
    </form>
        <div>
            <button class="login-box" color="primary"  type="submit" [disabled]="signUpForm.invalid" (click)="save(updateRoute, signUpForm.value)" mat-raised-button>{{updateRoute?"Update":"Submit"}}</button>
            <button mat-raised-button class="cancelBtn" (click)="cancel()" color="warn">cancel</button>
        </div>
        <div class="margin-top-xl">
            <p>Already a user? <a routerLink="/login">click here to login</a></p>
        </div>
    </mat-card-content>
    
</mat-card>

</div>