.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .example-full-width {
    width: 100%;
  }
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
}
.username{
    margin-top: 16px;
}
mat-card{
    width: 36%;
    box-shadow: 0px 12px 100px whitesmoke !important;
}
mat-form-field{
    width: 100%;
}
mat-card-header{
    background-color: rgb(63 81 181);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.login-box {
    width: auto;
    margin: auto;
    border-radius: 3px;
  }
  .cancelBtn{
    margin-left: 8px;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }