.horizontal-list {
    list-style: none; /* removes default bullet points */
    display: flex; /* sets the display type to flex */
    flex-wrap: wrap; /* allows items to wrap to the next line */
    justify-content: space-between; /* evenly spaces out the list items */
  }
  
  .horizontal-list li {
    margin-right: 10px; /* adds some space between the list items */
    border-radius: 4px;
  }
  li {
    border: 1px solid #ccc;
    padding: 5px;
    transition: all 0.2s ease-in-out; /* add a transition effect */
    margin-bottom: 8px;
    color: #810909;
    background-color: #9edbe2;
    font-weight: 900;
    margin-top: 8px;
    cursor: pointer;
  }
  
  li:hover {
    box-shadow: 0 0 10px #ccc;
    border-radius: 4px;
    transform: scale(1.05); /* increase size on hover */
  }
  .mat-card-header {
    display: flex;
    flex-direction: row;
    background-color: #0b2d28;
    color: white;
  }
  mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -8px;
    color: bisque;
}
ul{
    background-color: #5197a3;
}