<section>
    <nav>
        <ul>
            @for(topic of sideTopics; track topic; let idx = $index){
                <li class="side-topic" (click)="selectSideTopic(topic.short)">
                    <div class="main-div"> 
                        <div> {{topic.short}} </div> 
                        <div><mat-icon aria-hidden="false" class="mat-icon" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon></div>
                    </div>
                </li>
            }
            
        </ul>
    </nav>
    <main>
        <article [innerHTML]="sqlMainContent"></article>
    </main>
</section>