<p>`mat-autocomplete` is a component provided by Angular Material, a library of pre-built UI components for Angular applications. <br><br> The `mat-autocomplete` component is specifically designed to add autocomplete functionality to input fields in Angular applications. <br><br>

    With `mat-autocomplete`, users can start typing in an input field, and the component will display a dropdown list of suggested options that match the entered text. <br><br> This is useful for scenarios where users need to quickly and efficiently select from a large set of options without manually typing the entire value.
    
    The `mat-autocomplete` component is highly customizable, allowing developers to control the appearance, filtering behavior, and data source for the autocomplete suggestions. <br><br> It supports both synchronous and asynchronous data sources, making it suitable for scenarios involving local data as well as data fetched from servers via APIs.
    
    By using `mat-autocomplete`, developers can enhance user experience by providing a more intuitive and efficient way to input data and reduce the chances of errors caused by manual data entry.</p>
    <br><br>
    Example No 1:  This is simple Autocomplete <br><br>
    <!-- Autocomplete input field -->
    <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
        
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" placeholder="Select a fruit" [(ngModel)]="selectedFruit"> 
        
    <!-- Autocomplete dropdown -->
    <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
</form>

<br><br>
Example No 2: Display value autocomplete
<br><br>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Assignee</mat-label>
        <input type="text" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                {{option2.name}}

            </mat-option>
        </mat-autocomplete>

    </mat-form-field>
</form>

Example No 3: Display country mobile code and flag 
<br><br>
<form>
    <mat-form-field class="countryWidth" appearance="outline">
        <div class="input-prefix" (click)="openAutocomplete()">
            <img [src]="selectedCountry?.image" alt="Selected Country" class="country-image1" *ngIf="selectedCountry"/>
          </div>
        <input
        type="text"
        matInput
        #auto3Trigger = "matAutocompleteTrigger"
        [formControl]="countryControl"
        placeholder="Country"
        aria-label="Country"
        [matAutocomplete]="auto3"
        [(ngModel)]="selectedCountry"
        (input)="onCountryControlValueChange()"
        (focus)="openAutocomplete()"
        />
        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayCountryFn">
            <mat-option *ngFor="let country of filteredCountries" [value]="country">
            <img [src]="country.image" alt="{{ country.name }} flag" class="country-image"/>
            {{ country.name }} {{ country.dial_code }} 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>     
    </form>
    <form action="">
        <mat-form-field appearance="outline">
            <input type="number" matInput  [formControl]="numberControl" placeholder="type numbers only">
        </mat-form-field> 
    </form>
        
<br>
<br>
<p>This is to write test case </p>
<div>
    <p>Result: {{ result }}</p>
  </div>

<p>this is to know how the outer line of the formfield appears based on the appearance</p>
<form action="">

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" required >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</form>
    
      <!-- this is bootstap forms done with template driven form approach -->
      <p>this is bootstap forms done with template driven form approach</p>
      <div class="container-fluid">
        <h1>BootCamp enrollment Form</h1>
        <form #userForm="ngForm">
            {{userForm.value | json}}
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" name="username" ngModel>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" name="useremail" ngModel>
            </div>
            <div class="form-group">
                <label for="">Phone</label>
                <input type="tel" class="form-control" name="userPhone" ngModel>
            </div>
            <div class="form-group">
                <select class="custom-select" name="selection" ngModel>
                    <option selected>I am interested in</option>
                    <option *ngFor="let topic of topics" >{{topic}}</option>
                </select>
            </div>

<div class="mb-3">
    <label>Time Preferences</label>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="Morning" ngModel>
        <label for="" class="form-check-label">Morning (9AM - 12PM)</label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="Evening" ngModel>
        <label for="" class="form-check-label">Evening (5PM - 8PM)</label>
    </div>
</div>

<div class="form-check mb-3">
    <input type="checkbox" name="subscribe" class="form-check-input" ngModel>
    <label for="" class="form-check-label">
        Send me promotional offers
    </label>
</div>
<button class="btn btn-primary" type="submit">Submit Form</button>
        </form>
      </div>
 

      <p>ng model group practice</p>
<form action="">

    <div ngModelGroup="address">
        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" name="street" ngModel>
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" ngModel>
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" name="state" ngModel>
        </div>
        <div class="form-group">
            <label>Postal Code</label>
            <input type="text" class="form-control" name="postalCode" ngModel>
        </div>
    </div>
</form>